# 安装环境版本
VERSION=v2.8.25

# 更新时间
UPDATE=2025-12-21

# 备份目录
BACKUP_DIR=/tlgame/backup

# 安装天龙环境docker
DOCKERNAME='gsdocker'

# 容器配置根目录
GSDIR='.gs'

# 容器存放的父级目录
ROOT_PATH='/root'

# 游戏内注册=0，登录器注册=1
IS_DEFAULT_DLQ=0
IS_DLQ=0

# BILLING验证服务器IP
BILLING_DEFAULT_SERVER_IPADDR=127.0.0.1
BILLING_SERVER_IPADDR=127.0.0.1

# 容器配置文件名称
CONFIG_FILE='.env'

# 容器配置文件绝对路径
GS_WHOLE_PATH='/root/.gs/.env'

# 容器下载临时路径
TMP_PATH='/opt'

# 容器打包文件后缀
SUFFIX='.tar.gz'

# 容器完整包名称
WHOLE_NAME=${DOCKERNAME}${SUFFIX}

# 环境源码目录
GS_PROJECT="/root/.tlgame"

# 离线包上传路径以及名称
OFFLINE_TAR="/root/gstlenv_offline.tar.gz"

# 宿主机器与容器共享的文件夹，挂载卷
SHARED_DIR=/tlgame

# 宿主机器与容器共享的文件夹，挂载卷
HUB_ALIYUN="registry.cn-hangzhou.aliyuncs.com/"

# 容器重启
RESTART="always"

# BILLING   验证端口配置（不对外，可以对接商业登录器，商业登录器不需要开验证）
BILLING_DEFAULT_PORT=21818
BILLING_PORT=21818

# MYSQL 对外映射端口
TL_MYSQL_DEFAULT_PORT=33061
TL_MYSQL_PORT=33061

# 默认服务端登录网关端口
LOGIN_DEFAULT_PORT=13580
LOGIN_PORT=13580

# 默认服务端游戏网关端口
SERVER_DEFAULT_PORT=15680
SERVER_PORT=15680

# WEB 访问端口
WEB_DEFAULT_PORT=51888
WEB_PORT=51888
WEB_DEFAULT_HTTPS_PORT=51443
WEB_HTTPS_PORT=51443

# WEB GM访问端口
WEB_GM_DEFAULT_PORT=61888
WEB_GM_PORT=61888

# MYSQL 用户
TL_MYSQL_USER=gs

# MYSQL root密码
TL_MYSQL_DEFAULT_PASSWORD=123456
TL_MYSQL_PASSWORD=123456

# TL服务端在宿主主机路径
TLBB_PATH=/tlgame/tlbb

# 容器时区
TZ=Asia/Shanghai

# Redis 配置
REDIS_HOST_PORT=6379

# 默认环境编号
DEFAULT_ENV_INDEX=1

# GM工具对应的配置
# GM工具登录账号
LOGIN_DEFAULT_USER_NAME=gsgameshare
LOGIN_USER_NAME=gsgameshare

# GM工具登录密码
LOGIN_DEFAULT_PASSWORD=gsgameshare.com
LOGIN_PASSWORD=gsgameshare.com

# 接口通讯密钥
PRIVATE_DEFAULT_KEY=Gsgameshare.com2025
PRIVATE_KEY=Gsgameshare.com2025

# 离线安装包 gstlenv_offline.tar.gz gs_docker_ce.tar.gz gs_docker_compose.tar.gz 三个离线包SHA256
GS_OFFLINE_PACKAGE=eb8b4189f9f86ff3509e4de4451974849ee02434eb477d2426d3b7bf8bdeb9ca
GS_DOCKER_COMPOSE_PACKAGE=28b07f3223685ea5ee2d4ad85e98e9aab047438ef3dc5162d5193b900e7011cd
GS_DOCKER_CE_PACKAGE_CENTOS=a6d0e3e81f91cf9230139268fa650e3d7ca294a05ced39136cc400819852a1a2
GS_DOCKER_CE_PACKAGE_DEBIAN=b03e718f7dfe42fdf6e4c0cc308edd502c620fbda49fe242ae10fb91eb6fa74d
GS_DOCKER_CE_PACKAGE_FEDORA=85bd12381b4f3a7170902dcab8f7928c2b4eabeacaf722b819c400c6bf357b60
GS_DOCKER_CE_PACKAGE_UBUNTU=1ad61232d7e89f23b3645499ddf546917a9f8631b6d4f6ce1ec1309cc21abd94