# 安装环境版本
VERSION=v2.4.3

# 更新时间
UPDATE=2023-03-20

# 备份目录
BACKUP_DIR=/tlgame/backup

# 安装天龙环境docker
DOCKERNAME='gsdocker'

# 容器配置根目录
GSDIR='.gs'

# 容器存放的父级目录
ROOT_PATH='/root'

# 游戏内注册=0，登录器注册=1
IS_DEFAULT_DLQ=0
IS_DLQ=0

# BILLING验证服务器IP
BILLING_DEFAULT_SERVER_IPADDR=127.0.0.1
BILLING_SERVER_IPADDR=127.0.0.1

# 容器配置文件名称
CONFIG_FILE='.env'

# 容器配置文件绝对路径
GS_WHOLE_PATH='/root/.gs/.env'

# 容器下载临时路径
TMP_PATH='/opt'

# 容器打包文件后缀
SUFFIX='.tar.gz'

# 容器完整包名称
WHOLE_NAME=${DOCKERNAME}${SUFFIX}

# docker-compose 版本
DOCKER_COMPOSER_VERSION=1.29.2

# 环境源码目录
GS_PROJECT="/root/.tlgame"

# 离线包上传路径以及名称
OFFLINE_TAR="/root/gstlenv_offline.tar.gz"

# 宿主机器与容器共享的文件夹，挂载卷
SHARED_DIR=/tlgame

# 宿主机器与容器共享的文件夹，挂载卷
HUB_ALIYUN="registry.cn-hangzhou.aliyuncs.com/yulinzhihou/"

# 容器重启
RESTART="always"

# BILLING   验证端口配置（不对外，可以对接商业登录器，商业登录器不需要开验证）
BILLING_DEFAULT_PORT=21818
BILLING_PORT=21818

# MYSQL 对外映射端口
TL_MYSQL_DEFAULT_PORT=33061
TL_MYSQL_PORT=33061

# 默认服务端登录网关端口
LOGIN_DEFAULT_PORT=13580
LOGIN_PORT=13580

# 默认服务端游戏网关端口
SERVER_DEFAULT_PORT=15680
SERVER_PORT=15680

# WEB 访问端口
WEB_DEFAULT_PORT=51888
WEB_PORT=51888
WEB_DEFAULT_HTTPS_PORT=51443
WEB_HTTPS_PORT=51443

# MYSQL root密码
TL_MYSQL_DEFAULT_PASSWORD=123456
TL_MYSQL_PASSWORD=123456

# TL服务端在宿主主机路径
TLBB_PATH=/tlgame/tlbb

# 容器时区
TZ=Asia/Shanghai

# Redis 配置
REDIS_HOST_PORT=6379