<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="gbk">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>GS游享在线GM管理工具</title>
	<!-- Bootstrap -->
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap 官方文档样式 -->
	<link href="./templates/css/bs.css" rel="stylesheet">
	<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
	<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
	<!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<style>
	.qrcode {
		width: 100px;
	}

	.table tbody tr td {
		vertical-align: middle;
	}

	.row {
		margin-right: -0px;
		margin-left: 0px;
	}

	table {
		border: 1px solid #ccc;
		width: 100%;
		margin: 0;
		padding: 0;
		border-collapse: collapse;
		border-spacing: 0;
		margin: 0 auto;
	}

	table tr {
		border: 1px solid #ddd;
		padding: 5px;
	}

	table th,
	table td {
		padding: 10px;
		text-align: center;
	}

	table th {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
	}

	@media screen and (max-width:716px) {
		table {
			border: 0;
		}

		table thead {
			display: none;
		}

		table tr {
			margin-bottom: 10px;
			display: block;
			border-bottom: 2px solid #ddd;
		}

		table td {
			display: block;
			text-align: center;
			font-size: 13px;
			border-bottom: 1px dotted #ccc;
		}

		table td:last-child {
			border-bottom: 0;
		}

		table td:before {
			content: attr(data-label);
			float: left;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	h1 {
		font-size: 2rem;
	}

	p {
		font-size: 1.7rem;
	}
</style>

<body>
	<div class="bs-docs-header" id="content" tabindex="-1">
		<div class="container">
			<h1>ZJS GmTools</h1>
			<p>在这里可以对GM事件进行创建、管理</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<button type="button" class="btn btn-success create" style="margin-bottom:10px">添加执行事件</button>
			<button type="button" class="btn btn-danger quick"
				style="margin-bottom:10px;margin-left:10px;float: right;">退出</button>
			<button type="button" class="btn btn-danger clear" style="margin-bottom:10px;float: right;">清空所有事件</button>
			<table class="table-hover">
				<thead>
					<tr>
						<th>事件ID</th>
						<th>事件标识</th>
						<th>事件说明</th>
						<th>执行状态</th>
						<th>执行时间</th>
						<th>详细参数</th>
					</tr>
				</thead>
				<tbody>
					<tr php-foreach="$list as $item">
						<td>{$item.id}</td>
						<td>{$item.event}</td>
						<td>{$item.eventnote}</td>

						<td php-if="$item['status'] == 1"><span class="btn btn-success btn-xs">执行成功</span></td>
						<td php-else=""><span class="btn btn-danger btn-xs">等待执行</span></td>

						<td php-if="$item['requesttime'] > 0"><span class="btn btn-xs">{:date('Y-m-d H:i:s',
								$item['requesttime'])}</span></td>
						<td php-else=""><span class="btn btn-xs"
								style="background-color: black;color: #fff;">等待执行</span></td>

						<td><button type="button" class="btn btn-primary btn-xs info"
								data-info="事件ID:{$item['id']}<br>事件标识:{$item['event']}<br>事件说明:{$item['eventnote']}<br>参数1:{$item['param1']}<br>参数2:{$item['param2']}<br>参数3:{$item['param3']}<br>参数4:{$item['param4']}<br>">点击查看</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>

	<!-- 创建/修改模态框 -->
	<div class="modal fade" id="createBox" tabindex="-1" role="dialog">
		<form id="createBoxFrom">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">添加执行事件</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="event" class="control-label">选择执行事件:</label>
								<select id="event" class="form-control">
									<option php-foreach="$eventsList as $key => $item" value="{$item}">{$key}</option>
								</select>
								<span style="color: red">注意：所有事件不需要玩家下线，实时游戏内生效</span>
							</div>
							<div class="form-group param1">
								<label for="param1" class="control-label param1_label">参数1:</label>
								<input type="text" class="form-control" id="param1" placeholder="请填写参数，如果缺少可不填写">
							</div>
							<div class="form-group param2">
								<label for="param2" class="control-label param2_label">参数2:</label>
								<input type="text" class="form-control" id="param2" placeholder="请填写参数，如果缺少可不填写">
							</div>
							<!-- 发放物品专用 -->
							<div class="form-group searchForm" style="display: none;">
								<label for="searchForm" class="control-label searchForm_label">参数2:</label>
								<div class="form-inline searchFormDiv">
									<input type="text" class="form-control" id="searchForm" placeholder="输入物品ID或者名称">
									<button type="button" class="form-control btn btn-default searchItem">查询</button>
									<button type="button"
										class="form-control btn btn-default resetSearchForm">重置</button>
								</div>
							</div>
							<div class="form-group param3">
								<label for="param3" class="control-label param3_label">参数3:</label>
								<input type="text" class="form-control" id="param3" placeholder="请填写参数，如果缺少可不填写">
							</div>
							<div class="form-group param4">
								<label for="param4" class="control-label param4_label">参数4:</label>
								<input type="text" class="form-control" id="param4" placeholder="请填写参数，如果缺少可不填写">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<input type="hidden" id="edit_id">
						<input type="reset" style="display: none" id="reset">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary setting_qrcode">发送</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- 详细参数弹窗 -->
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="lookinfo">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">×</span></button>
					<h4 class="modal-title info_title">详细参数</h4>
				</div>
				<div class="modal-body info_body">
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>


	<!-- 信息提示框 -->
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="msg_alert">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">×</span></button>
					<h4 class="modal-title msg_title">通知信息</h4>
				</div>
				<div class="modal-body msg_body">
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>

	<!-- 清空提示框 -->
	<div class="modal fade" tabindex="-1" role="dialog" id="del_view">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">清空提示</h4>
				</div>
				<div class="modal-body text-center">
					<p>你确定要清空所有事件吗？清空之后不可恢复。</p>
				</div>
				<div class="modal-footer">
					<input type="hidden" id="del_id">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="del">确定</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="./js/jquery.min.js"></script>
	<!-- JQ 复制剪切板组件 -->
	<script src="./js/clipboard.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="./js/bootstrap.min.js"></script>
	<!-- 页面功能 -->
	<script>

		$(document).ready(function () {
			// 初始化默认为发公告事件
			$('.param1').show();
			$('.param1_label').text('公告内容：');
			$('.param2').hide();
			$('.param3').hide();
			$('.param4').hide();
			/**
			* [监听选择事件并作出表单改动]
			*/
			$('#event').change(function () {
				var event = $(this).val();
				switch (event) {
					case 'SendGlobalNews':
						//发公告
						$('.param1').show();
						$('.param1_label').text('公告内容：');
						$('.param2').hide();
						$('.param3').hide();
						$('.param4').hide();
						$('.searchForm').hide();
						break;
					case 'AddGamePoint':
						// 充值点数
						$('.param1').show();
						$('.param1_label').text('充值账号：');
						$('.param2').show();
						$('.param2_label').text('充值点数：');
						$('.param3').hide();
						$('.param4').hide();
						$('.searchForm').hide();
						break;
					case 'GivePlayerItem':
						// 发物品
						$('.param1').show();
						$('.param1_label').text('角色名：');
						$('.searchForm').show();
						$('.searchForm_label').text('发放物品：');
						$('.param2').hide();
						$('.param3').show();
						$('.param3_label').text('发放数量：');
						$('.param4').hide();
						break;
					case 'SetPlayerLevel':
						// 设置等级
						$('.param1').show();
						$('.param1_label').text('角色名：');
						$('.param2').show();
						$('.param2_label').text('等级：');
						$('.param3').hide();
						$('.param4').hide();
						$('.searchForm').hide();
						break;
					case 'GivePlayerYuanBao':
						// 发元宝
						$('.param1').show();
						$('.param1_label').text('角色名：');
						$('.param2').show();
						$('.param2_label').text('元宝数量：');
						$('.param3').hide();
						$('.param4').hide();
						$('.searchForm').hide();
						break;
					default:
						//发公告
						$('.param1').show();
						$('.param1_label').text('公告内容：');
						$('.param2').hide();
						$('.param3').hide();
						$('.param4').hide();
						$('.searchForm').hide();
				}
			})


			/**
			 * [退出登录]
			 */
			$('.quick').click(function () {
				$.post('index.php?r=quickLogin', {
				}, function (result) {
					console.log(result);
					if (result.status == 'success') {
						$('.msg_body').html('退出成功');
						$('#msg_alert').modal('show');
						setTimeout(function () {
							window.location.href = "index.php";
						}, 1000);
					} else {
						$('.msg_body').html('退出失败');
						$('#msg_alert').modal('show');
					}
					return;
				}, 'json');
			})

			/**
			 * [添加/编辑模态框弹出]
			 */
			$('.create,.edit').click(function () {
				if ($(this).attr('data-id')) {
					$('#edit_id').val($(this).attr('data-id'));
					$('#qrcode_name').val($(this).attr('data-qrcode-name'));
					$('#qrcode_link').val($(this).attr('data-qrcode-link'));
					$('#note').val($(this).attr('data-note'));
					$("#jump_domain").val($(this).attr('data-jump-domain'));
				} else {
					$("#reset").click(); //重置表单
				}
				$('#createBox').modal('show');
			})


			/**
			 * [参数详情]
			 */
			$('.info').click(function () {
				var info = $(this).attr('data-info');
				$('.info_body').html(info);
				$('#lookinfo').modal('show');
			})

			/**
			 * [添加/编辑]
			 */
			$('.setting_qrcode').click(function () {
				var event = $('#event').val();
				var eventnote = $('#event').find("option:selected").text();
				var param1 = $('#param1').val() ? $('#param1').val() : 0;
				if (event == 'GivePlayerItem') {
					var param2 = $('#searchForm').val() ? $('#searchForm').val() : 0;
				} else {
					var param2 = $('#param2').val() ? $('#param2').val() : 0;
				}
				var param3 = $('#param3').val() ? $('#param3').val() : 0;
				var param4 = $('#param4').val() ? $('#param4').val() : 0;
				var request_url = "index.php?r=addEvent";
				console.log([event, eventnote, param1, param2, param3, param4]);
				$.post(request_url, {
					event: event,
					eventnote: eventnote,
					param1, param1,
					param2, param2,
					param3, param3,
					param4, param4,
				}, function (result) {
					console.log(result);
					if (result.status == 'success') {
						$('#createBox').modal('hide');
						$('.msg_body').html('设置成功');
						$('#msg_alert').modal('show');
						setTimeout(function () {
							window.location.href = "index.php";
						}, 1000);
					} else {
						$('#createBox').modal('hide');
						$('.msg_body').html('设置失败');
						$('#msg_alert').modal('show');
					}
					return;
				}, 'json');
			})

			/**
			 * [查询物品]
			 */
			$(document).on('click', '.searchItem', function () {
				var item = $('#searchForm').val();
				if (item == '') {
					$('.msg_body').html('物品搜索条件不能为空');
					$('#msg_alert').modal('show');
					return
				}
				$.get('/index.php?r=searchAll&item=' + encodeURI(item), {
				}, function (result) {
					if (result.length > 0) {
						$('.searchFormDiv').html('');
						var newFormContent = '';
						newFormContent += '<select class="form-control" id="searchForm">';
						for (let index = 0; index < result.length; index++) {
							let itemName = result[index].itemName
							newFormContent += '<option value="' + result[index].id + '">' + decodeURI(itemName) + '</option>';
						}
						newFormContent += '</select>';
						newFormContent += '<button type="button" class="form-control btn btn-default resetSearchForm">重置</button>';
						$('.searchFormDiv').html(newFormContent);
					} else {
						$('.msg_body').html('没有查询到相关物品');
						$('#msg_alert').modal('show');
					}
					return;
				}, 'json');
			});

			/**
			 * [重置查询]
			 */
			$(document).on('click', '.resetSearchForm', function () {
				$('.searchFormDiv').html('');
				var newFormContent = '';
				newFormContent += '<input type="text" class="form-control" id="searchForm" placeholder="输入物品ID或者名称">';
				newFormContent += '<button type="button" class="form-control btn btn-default searchItem">查询</button>';
				newFormContent += '<button type="button" class="form-control btn btn-default resetSearchForm">重置</button>';
				$('.searchFormDiv').html(newFormContent);
			});


			/**
			 * [删除模态框]
			 */
			$(".clear").click(function () {
				$("#del_view").modal('show');
			});

			/**
			 * [删除]
			 */
			$('#del').click(function () {
				$.post('index.php?r=clearAllEvents', {
				}, function (result) {
					console.log(result);
					if (result.status == 'success') {
						$('#del_view').modal('hide');
						$('.msg_body').html('删除成功');
						$('#msg_alert').modal('show');
						setTimeout(function () {
							window.location.href = "index.php";
						}, 1000);
					} else {
						$('#del_view').modal('hide');
						$('.msg_body').html('删除失败');
						$('#msg_alert').modal('show');
					}
					return;
				}, 'json');
			})
		})
	</script>
</body>

</html>